In [96]:
import tensorflow as tf
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense
from sklearn.preprocessing import LabelEncoder
from keras.callbacks import EarlyStopping

# Clean and Preprocess Data for Machine Learning
import numpy as np
import pandas as pd

In [97]:
# Add Dataset: Read the csv file into a pandas DataFrame
prep_races = pd.read_csv('Railbird- 2020 Kentucky Derby Prep Races.csv')
prep_races_df = pd.DataFrame(prep_races) 
#prep_races_df = prep_races_df.dropna(subset=["WINNER", "TRK", "ODDS", "JOCKEY"], how='all')
prep_races_df = prep_races_df.dropna(subset=['WINNER'])
prep_races_df = prep_races_df.dropna(subset=['TRK'])
prep_races_df.head()

,DATE,TRK,GRD,DIST,POINTS (LEADERS),RACE (CHART),REPLAY,WINNER,BSF,TFUS,...,MRGN,ODDS,JOCKEY,TRAINER,SIRE,BR-SIRE,PLACED,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1/2/17,AQU,G3,8*,10-4-2-1 (PDF),Jerome Stakes (PDF),Video,El Areeb,91,121,...,11 1/4,2.8,Trevor McCarthy,Cathal Lynch,Exchange Rate,A.P. Indy,"Bonus Points, True Timber, Win With Pride",NaN,NaN,NaN
1,1/7/17,SA,G3,8,10-4-2-1 (PDF),Sham Stakes (PDF),Video,Gormley,94,117,...,Head,1.6,Victor Espinoza,John Shirreffs,Malibu Moon,Bernstein,"American Anthem, Big Hit, Bird Is the Word",NaN,NaN,NaN
2,1/16/17,OP,---,8,10-4-2-1 (PDF),Smarty Jones Stakes (PDF),Video,Uncontested,96,111,...,5 1/4,1.20**,Channing Hill,Wayne Catalano,Tiz Wonderful,Lil E. Tee,"Petrov, Rowdy the Warrior, Warrior's Club",NaN,NaN,NaN
3,1/21/17,FG,G3,8*,10-4-2-1 (PDF),Lecomte Stakes (PDF),Video,Guest Suite,82,103,...,1 1/4,2.80**,Robby Albarado,Neil Howard,Quality Road,Ghostzapper,"Untrapped, Takeoff, Arklow",NaN,NaN,NaN
4,2/4/17,AQU,G3,8.5,10-4-2-1 (PDF),Withers Stakes (PDF),Video,El Areeb,92,109,...,4 1/4,0.55**,Trevor McCarthy,Cathal Lynch,Exchange Rate,A.P. Indy,"True Timber, J Boys Echo, Bonus Points",NaN,NaN,NaN

In [103]:
#prep_races_df["TRK"].unique_values()
#prep_races_df.dtypes
prep_races_df["TRK"].unique

<bound method Series.unique of 0     AQU
1      SA
2      OP
3      FG
4     AQU
     ...
74    AQU
75    KEE
76     SA
77     OP
78    KEE
Name: TRK, Length: 78, dtype: object>

In [104]:
X = prep_races_df[["TRK", "ODDS", "JOCKEY"]]
y = prep_races_df["WINNER"]
print(X.shape, y.shape)

(78, 3) (78,)

In [105]:
#  Dummy Encoding transforms each categorical feature into new columns with a 1 (True) or 0 (False) encoding to represent if that categorical label was present or not in the original row.  
# Pandas provides a shortcut to create Binary Encoded data.
data = X.copy()

data_binary_encoded = pd.get_dummies(data, columns=["JOCKEY", "TRK"])
data_binary_encoded.head()

,ODDS,JOCKEY_Alfredo Juarez,JOCKEY_Brian Hernandez,JOCKEY_BrianHernandez,JOCKEY_Channing Hill,JOCKEY_Christophe Soumillon,JOCKEY_Drayden Van Dyke,JOCKEY_Flavien Prat,JOCKEY_Florent Geroux,JOCKEY_Gabriel Saez,...,TRK_FG,TRK_GG,TRK_GP,TRK_KEE,TRK_MEY,TRK_OP,TRK_SA,TRK_SUN,TRK_TAM,TRK_TP
0,2.8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1.20**,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,2.80**,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0.55**,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [89]:
from sklearn.model_selection import train_test_split

label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y_train = label_encoder.transform(y)
#encoded_y_test = label_encoder.transform(y_test)
y_train_categorical = to_categorical(encoded_y_train)
#y_test_categorical = to_categorical(encoded_y_test)

In [90]:
y

0        El Areeb
1         Gormley
2     Uncontested
3     Guest Suite
4        El Areeb
         ...
74        Tacitus
75         Vekoma
76       Roadster
77    Omaha Beach
78       Owendale
Name: WINNER, Length: 78, dtype: object

In [71]:


X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

X_train.head()

,TRK_AQU,TRK_FG,TRK_GG,TRK_GP,TRK_KEE,TRK_MEY,TRK_OP,TRK_SA,TRK_SUN,TRK_TAM,...,JOCKEY_Pablo Morales,JOCKEY_Rajiv Maragh,JOCKEY_Robby Albarado,JOCKEY_Ryan Moore,JOCKEY_Shaun Bridgmohan,JOCKEY_Terry Thompson,JOCKEY_Tracy Hebert,JOCKEY_Trevor McCarthy,JOCKEY_Tyler Gaffalione,JOCKEY_Victor Espinoza
9,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

ValueError: could not convert string to float: 'One Liner'

In [55]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

NameError: name 'y_scaler' is not defined